.messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
  }

@keyframes typing-animation {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}

.typing-animation {
  display: block !important; /* Ensure the animation is always displayed yes */
}
